In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('./processed/svm_features_train.csv')

In [3]:
df_train.head()

,display_id,ad_id,clicked,ad_display_str,fold
0,1,42337,0,addoc_938164 campaign_5969 adv_1499 u_cb8c5570...,0
1,1,139684,0,addoc_1085937 campaign_17527 adv_2563 u_cb8c55...,0
2,1,144739,1,addoc_1337362 campaign_18488 adv_2909 u_cb8c55...,0
3,1,156824,0,addoc_992370 campaign_7283 adv_1919 u_cb8c5570...,1
4,1,279295,0,addoc_1670176 campaign_27524 adv_1820 u_cb8c55...,1

In [4]:
D = 2 ** 20

# display features
USER = '0'
ON_DOC = '1'
PLATFORM = '2'

# ads features
AD = '3'
AD_DOC = '4'
CAMPAIGN = '5'
ADVERTISER = '6'

# document features
ON_SRC = '7'
ON_PUBLISHER = '8'

AD_SRC = '9'
AD_PUBLISHER = '10' 


def hash_element(el):
    h = hash(el) % D
    if h < 0:
        h = h + D
    return str(h)

In [5]:
df_events = pd.read_csv('../data/events.csv.zip',chunksize=1000000)

In [6]:
c = 0
train_events=None
for item in df_events:
    c+=1
    tar_item = item.loc[item.display_id.isin(df_train.display_id),:]
    
    if train_events is None:
        train_events=tar_item
    else:
        tar_shape=tar_item.shape[0]
        train_events_shape=train_events.shape[0]
        train_events.append(tar_item)
        # 确保 append 方法使用正确
        assert train_events.shape[0]== tar_shape+train_events_shape

C:\ProgramData\Anaconda3\envs\pytorch2\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
del df_events

In [54]:
user_str = USER + ':' + train_events.uuid.apply(hash_element)+':1'
doc_str = ON_DOC + ':' + train_events.document_id.apply(hash_element)+':1'
platforms = PLATFORM +':' + train_events.platform.astype('str')+':1'

In [55]:
df_events_processed = pd.DataFrame()
df_events_processed['display_str'] = user_str + ' ' + doc_str + ' ' + platforms
df_events_processed['document_id'] = train_events.document_id
del user_str, doc_str, platforms

In [56]:
df_events_processed.shape

(19587, 2)

In [57]:
df_events_processed.head()

                   display_str  document_id
0  0:911113:1 1:379743:1 2:3:1       379743
1  0:827541:1 1:745683:1 2:2:1      1794259
2  0:444437:1 1:130535:1 2:2:1      1179111
3  0:160935:1 1:729221:1 2:2:1      1777797
4  0:364377:1 1:252458:1 2:2:1       252458

In [65]:
df_ads = pd.read_csv("../data/promoted_content.csv.zip")

In [67]:
ad_to_doc = dict(zip(df_ads.ad_id, df_ads.document_id))

ad_str = AD + ':' + df_ads.ad_id.astype(str) + ':1 ' + \
         AD_DOC + ':' + df_ads.document_id.apply(hash_element) + ':1 ' + \
         CAMPAIGN + ':' + df_ads.campaign_id.astype(str) + ':1 ' + \
         ADVERTISER + ':' + df_ads.advertiser_id.astype(str) + ':1'

ad_str_dict = dict(zip(df_ads.ad_id, ad_str))

del ad_str, df_ads

In [68]:
len(ad_str_dict)

559583

In [70]:
df_train.head()

,display_id,ad_id,clicked,ad_display_str,fold
0,1,42337,0,addoc_938164 campaign_5969 adv_1499 u_42063f0c...,0
1,1,139684,0,addoc_1085937 campaign_17527 adv_2563 u_42063f...,0
2,1,144739,1,addoc_1337362 campaign_18488 adv_2909 u_42063f...,0
3,1,156824,0,addoc_992370 campaign_7283 adv_1919 u_42063f0c...,0
4,1,279295,0,addoc_1670176 campaign_27524 adv_1820 u_42063f...,0

In [83]:
##以batch 的方式替换新建数据
## 根据display_id  和 ad_id 新建样本

display_ids = df_train.display_id
ad_ids = df_train.ad_id

In [104]:
display_str = df_events_processed.loc[display_ids-1,:]['display_str'].values

In [107]:
display_str.shape[0]

500000

In [94]:
ad_str = [ad_str_dict[item] for item in ad_ids.values]

In [99]:
labels=df_train.clicked

In [132]:
## 遍历并保存到文件中
c = 0
with open('ffm_data.txt','w') as fh:
    for i in range(display_str.shape[0]):
        line = str(labels[0]) +' '+ display_str[i] + ' '+ad_str[i]
        fh.write(line)
        fh.write('\n')

In [133]:
## 转化成 deepfm 的格式
## batch_size * field_size 

df_deepfm = pd.read_csv('./processed/ffm_data.txt',sep=' ',header=None)

In [134]:
df_deepfm.head()

,0,1,2,3,4,5,6,7
0,0,0:911113:1,1:379743:1,2:3:1,3:42337:1,4:938164:1,5:5969:1,6:1499:1
1,0,0:911113:1,1:379743:1,2:3:1,3:139684:1,4:37361:1,5:17527:1,6:2563:1
2,0,0:911113:1,1:379743:1,2:3:1,3:144739:1,4:288786:1,5:18488:1,6:2909:1
3,0,0:911113:1,1:379743:1,2:3:1,3:156824:1,4:992370:1,5:7283:1,6:1919:1
4,0,0:911113:1,1:379743:1,2:3:1,3:279295:1,4:621600:1,5:27524:1,6:1820:1

In [135]:
field_size=len(df_deepfm.columns)-1

In [150]:
def get_feature_index(row):
    items = row.split(':')
    return items[1]

def get_feature_values(row):
    items = row.split(':')
    return items[2]

In [151]:
indexs=[]
values=[]
for i in range(1,field_size+1):
    index_values = df_deepfm[i].apply(get_feature_index)
    indexs.append(index_values)
    
    values_values = df_deepfm[i].apply(get_feature_values)
    values.append(values_values)

In [152]:
indexs=np.array(indexs)
values = np.array(values)

In [153]:
indexs = np.transpose(indexs)
values=np.transpose(values)

In [156]:
labels=df_deepfm[0]

In [158]:
training_deepfm = {
    'xi':indexs,
    'vi':values,
    'label':labels
}

In [162]:
with open('deepfm_training.pickle','wb') as fh:
    pickle.dump(training_deepfm,fh)